<div style="text-align:center ;" class="alert alert-dark" >    
    <h2 style="font-size: app-header" >Inforamation</h2><br>
    <li style="font-family: app-personal-info">first Name : {{First_Name}} </li>
    <li style="font-family: app-personal-info">Last Name : {{Last_Name}} </li>
    <li style="font-family: app-personal-info" >Email : {{EMail}} </li>
    <li style="font-family: app-personal-info">Date : {{Date.year}}-{{Date.month}}-{{Date.day}} </li>
    <li style="font-family: app-personal-info">Time : {{Time.hour}}-{{Time.minute}}-{{Time.second}}</li>
    <li style="font-family: app-personal-info" >Impact : {{Impact}}</li>
    <li style="font-family: app-personal-info">Detailed Explanation Of bug : {{Text}}</li>
</div>
