<div class = "container-fluid" >
    <div class="header">
    <h1 class="ContactOur" style="text-align:center ;">Contact Our</h1>
    <img class="image" alt="Image of Seal" src="assets\logo.png">
    <h1 class="ContactSupport" style="text-align:center ;" >Customer Support Center</h1> 
    <h2 class="ContactInformation" style="text-align: right;" >Contact Information</h2>
    <p class="ContactInformation1" style="text-align: right;" >Please fill out your contact information below</p> 
    </div>


    <form [formGroup] = "MarvellousForm" (ngSubmit)="submit()">
        <div class="form-Group">
            <label>Name<sup class="star">*</sup></label>
            <div class="form-group" >
                <td> <input size="50px"  placeholder="FirstName" type="text" class="form-control" formControlName="FirstName" >
                <label>FirstName</label>
                </td>

                <td><input size="50px"  placeholder="LastName" type="text" class="form-control" formControlName="LastName" >
                <label>LastName</label></td> <br>
                
                <label>Email Id <sup class="star" >*</sup> </label>
                <td><input size="100px" placeholder="abc@gmail.com" type="email" class="form-control" formControlName="Email" >
                </td><br>

                <label>Phone No.<sup class="star" >*</sup> </label>
                <td><input size="100px" placeholder="+91 0000000000" type="tel" class="form-control" formControlName="telephone" >
                </td><br>
                
              
                <label>Address</label><br>
                <td><input size="50px"  placeholder="253 N. Cherry St." type="text" class="form-control" formControlName="comments"> 
                <label>comments</label> 

                <td><input size="50px"  placeholder = "Pune" type="text" class="form-control" formControlName = "city">
                    <label>City</label>
                </td>

                <br>
            
            <td><input size="50px"  placeholder = "412307" type="tel" class="form-control" formControlName = "code">
                <label>Postal Code</label>
            </td>
                <td>
                    <select  aria-setsize="50px" class="form-select" aria-label="Default select Example" class="form-control" formControlName = "state">
                       <option value="" disabled>Choose State</option>
                        <option *ngFor="let st of State" value= '{{st}}' > {{st}} </option>
                    </select>
           
                    <label>State</label>  
                </td>              
                
            </div>
            <div class="button" >
                <button class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
            </div>         
        </div>
    </form>
</div>

<div *ngIf="flag"  style="text-align:center ;">
    <h1 >Information</h1>
    <li>Name :  {{value.FirstName}} {{value.LastName}}</li>
    <li>Email : {{value.Email}}</li>
    <li>Phone No. : {{value.telephone}}</li>
    <li>address : {{value.comments}} , {{value.city}} , {{value.state}} ,{{value.code}}</li>
</div>
